

/* New optimize-banner */

@media (max-width: 1280px) {
	.optimize-banner-p13n_e > h1 {
	  font-size: 22px!important;
	  line-height: 28px!important;
	}
  }
  @media (max-width: 480px) {
  body.home>header:optimize-banner-p13n_e {
	font-size : 18px!important;
  }
}
@media (max-width: 599px) {
  body.home>header>p {
	font-size : 20px!important;
	line-height : 20px;
	word-spacing : 20px;
  }
}
  @media (max-width: 767px) {
  body.home>header:optimize-banner-p13n_e {
	font-size : 22px!important;
  }
}
header.optimize-banner-p13n_e {
  width : auto;
  height : auto;
   line-height : 30px;
  font-size : 24px;
  background : linear-gradient(to right, rgb(255, 255, 153), rgb(135, 206, 250));
  color : rgb(136, 136, 136);
  word-spacing : 30px !important;
}


div.pageTop {
  margin : 1px;
  position : relative;
}


body.home {
  text-align : left;
  bottom : auto;
  color: black !important;
}



body.home>header>p {
  font-size : 20px;
  line-height : 30px;
  word-spacing : 30px;
  height : auto;
  margin : 0px 0px;
  width : auto;
  text-align : center !important;
}
.dropdown_lang {
    display: inline-block;
    position: inherit;
    line-height: 40px;
    padding: 0 15px 0 0;
    background: url(../uploads/more.svg) no-repeat right 50%;
    cursor: pointer;
}


.dropdown_lang:hover .dropdown-langs{
    display: block;
    overflow: auto;
    line-height: 40px !important;
    display: visible;
    padding: 0 15px 0 0;
}
    

    .dropdown-langs{
        display: none;
    }

    .dropdown_lang.selected{
        font-weight: 600;

    }	
    
    .drop_l{
border:none;
}

/* short-code */

.vc_custom_1655189845301
					{margin-top: 5% !important;padding-right: 4% !important;padding-left: 4% !important;}.vc_custom_1650909959336{padding-right: 4% !important;padding-left: 4% !important;background-color: #f9f9f9 !important;}.vc_custom_1650909512630
					{margin-bottom: 5% !important;padding-right: 4% !important;padding-left: 4% !important;background-color: #ffffff !important;}.vc_custom_1650718077382
					{margin-bottom: -5% !important;padding-top: 2% !important;padding-right: 4% !important;padding-left: 4% !important;background-color: #f9f9f9 !important;}.vc_custom_1650994977034
					{padding-top: 2% !important;padding-right: 4% !important;padding-left: 4% !important;background-color: #f9f9f9 !important;}.vc_custom_1650717285868{padding-top: 2% !important;padding-right: 4% !important;padding-left: 4% !important;
					background-color: #f9f9f9 !important;}.vc_custom_1650907701430{margin-top: 3% !important;padding-right: 4% !important;padding-left: 4% !important;background-color: #ffffff !important;}.vc_custom_1640772609619
					{padding-right: 4% !important;padding-left: 4% !important;background-color: #ffffff !important;}.vc_custom_1640771824523{padding-top: 2% !important;padding-right: 4% !important;
					padding-left: 4% !important;background-color: #e8e8e8 !important;}.vc_custom_1648132613442{padding-right: 4% !important;padding-left: 4% !important;background-color: #ffffff !important;}.vc_custom_1657712668682
					{margin-bottom: 5% !important;padding-top: 2% !important;padding-right: 4% !important;padding-left: 4% !important;background-color: #e8e8e8 !important; }.vc_custom_1657709269851{margin-top: 5% !important;margin-bottom: 5% !important;
					padding-right: 4% !important;padding-left: 4% !important;background-color: #f9f9f9 !important;}.vc_custom_1640772458826{padding-top: 2% !important;padding-right: 4% !important;padding-bottom: 5% !important;padding-left: 4% !important;
					background-color: #ffffff !important;}.vc_custom_1595066243928{padding-right: 4% !important;padding-bottom: 5% !important;padding-left: 4% !important;background-color: #ffffff !important;}.vc_custom_1595045788430{padding-top: 3% !important;
					padding-right: 4% !important;padding-bottom: 3% !important;padding-left: 4% !important;background-color: #f9f9f9 !important;}.vc_custom_1640773941914{padding-right: 5% !important;padding-bottom: 1% !important;padding-left: 4% !important;
					background-color: #f2f2f2 !important;}.vc_custom_1594799556899{padding-top: 8% !important;padding-right: 3.8% !important;padding-bottom: 8% !important;padding-left: 3.8% !important;background-color: #ffffff !important;}.vc_custom_1630492908943
					{background-color: #ffffff !important;}.vc_custom_1594792557878{padding-top: 10% !important;padding-left: 3px !important;}.vc_custom_1655189860270{padding-top: 5% !important;}.vc_custom_1651257145780{padding-top: 5% !important;}.vc_custom_1651257222846
					{padding-left: 5% !important;}.vc_custom_1650909946147{padding-top: 10% !important;padding-right: 5% !important;padding-bottom: 10% !important;}.vc_custom_1650909931937{padding-top: 10% !important;padding-right: 5% !important;
					padding-bottom: 10% !important;}.vc_custom_1650909917664{padding-top: 10% !important;padding-bottom: 10% !important;}.vc_custom_1650891513707{padding-top: 5% !important;}.vc_custom_1650891503560{padding-top: 5% !important;}.vc_custom_1650891492961
					{padding-top: 5% !important;}.vc_custom_1630493060126{padding-right: 40px !important;}.vc_custom_1648100363772{padding-right: 40px !important;}.vc_custom_1630493104177{padding-right: 40px !important;}.vc_custom_1635239115050{margin-right: 2% !important;
					border-top-width: 5% !important;padding-bottom: 4% !important;}.vc_custom_1635239115050{margin-right: 2% !important;border-top-width: 5% !important;padding-bottom: 4% !important;}.vc_custom_1650893477896{margin-top: 7% !important;}.vc_custom_1655190764132
					{margin-top: 7% !important;}.vc_custom_1650716444187{margin-top: 7% !important;}.vc_custom_1635239115050{margin-right: 2% !important;border-top-width: 5% !important;padding-bottom: 4% !important;}.vc_custom_1655190818867{margin-top: 7% !important;}.vc_custom_1655190569973
					{margin-top: 7% !important;}.vc_custom_1655190868879{margin-top: 7% !important;}.vc_custom_1650907711205{margin-right: 2% !important;}.vc_custom_1650907731662{background-color: #ffffff !important;}.vc_custom_1658232058773{border-top-width: 5% !important;padding-bottom: 4% !important;}.vc_custom_1640771848889
					{margin-right: 2% !important;border-top-width: 5% !important;padding-bottom: 4% !important;background-color: #e8e8e8 !important;}.vc_custom_1640771980587{margin-top: 40px !important;background-color: #e8e8e8 !important;}.vc_custom_1633412305861
					{margin-right: 2% !important;margin-left: 2% !important;border-top-width: 5% !important;padding-bottom: 4% !important;background-color: #ffffff !important;}.vc_custom_1657709533978{margin-right: 2% !important;margin-bottom: 5% !important;border-top-width: 5% !important;background-color: #ffffff !important;}.vc_custom_1657708746749
					{margin-top: 40px !important;}.vc_custom_1657709158401{margin-right: 2% !important;border-top-width: 5% !important;padding-bottom: 4% !important;}.vc_custom_1620292199610{margin-top: -10% !important;padding-right: 40px !important;}.vc_custom_1593361001494
					{padding-right: 60px !important;}.vc_custom_1644736908835{padding-left: 2% !important;}.vc_custom_1650908889505{margin-top: 7% !important;}.vc_custom_1594976650803{padding-top: -1% !important;}.vc_custom_1640776943178{margin-top: 7% !important;}.vc_custom_1656580224980
					{margin-top: 7% !important;}.vc_custom_1656580316407{margin-top: 7% !important;}.vc_custom_1656580131123{margin-top: 7% !important;}.vc_custom_1652430169484{margin-top: 7% !important;}.vc_custom_1656580353033{margin-top: 7% !important;}.vc_custom_1656580073213
					{margin-top: 7% !important;}.vc_custom_1656580289633{margin-top: 7% !important;}.vc_custom_1656580458391{margin-top: 7% !important;}.vc_custom_1652429878469{margin-top: -10px !important;} .wpb_animate_when_almost_visible { opacity: 1; }
