


@media (max-width: 1280px) {
	.optimize-banner-p13n_e > h1 {
	  font-size: 22px!important;
	  line-height: 28px!important;
	}
  }
  @media (max-width: 480px) {
  body.home>header:optimize-banner-p13n_e {
	font-size : 18px!important;
  }
}
@media (max-width: 599px) {
  body.home>header>p {
	font-size : 20px!important;
	line-height : 20px;
	word-spacing : 20px;
  }
}
  @media (max-width: 767px) {
  body.home>header:optimize-banner-p13n_e {
	font-size : 22px!important;
  }
}
header.optimize-banner-p13n_e {
  width : auto;
  height : auto;
   line-height : 30px;
  font-size : 24px;
  background : linear-gradient(to right, rgb(255, 255, 153), rgb(135, 206, 250));
  color : rgb(136, 136, 136);
  word-spacing : 30px !important;
}


div.pageTop {
  margin : 1px;
  position : relative;
}


body.home {
  text-align : left;
  bottom : auto;
  color: black !important;
}



body.home>header>p {
  font-size : 20px;
  line-height : 30px;
  word-spacing : 30px;
  height : auto;
  margin : 0px 0px;
  width : auto;
  text-align : center !important;
}

